<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.book.mapper.CategoriesMapper" >
  <resultMap id="BaseResultMap" type="com.book.pojo.Categories" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="NVARCHAR" />
    <result column="PId" property="pid" jdbcType="INTEGER" />
    <result column="SortNum" property="sortnum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, Name, PId, SortNum
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from Categories
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Categories
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.book.pojo.Categories" >
    insert into Categories (Id, Name, PId, 
      SortNum)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=NVARCHAR}, #{pid,jdbcType=INTEGER}, 
      #{sortnum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.book.pojo.Categories" >
    insert into Categories
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="pid != null" >
        PId,
      </if>
      <if test="sortnum != null" >
        SortNum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="sortnum != null" >
        #{sortnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.book.pojo.Categories" >
    update Categories
    <set >
      <if test="name != null" >
        Name = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="pid != null" >
        PId = #{pid,jdbcType=INTEGER},
      </if>
      <if test="sortnum != null" >
        SortNum = #{sortnum,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.book.pojo.Categories" >
    update Categories
    set Name = #{name,jdbcType=NVARCHAR},
      PId = #{pid,jdbcType=INTEGER},
      SortNum = #{sortnum,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>