<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.book.mapper.ReadercommentsMapper" >
  <resultMap id="BaseResultMap" type="com.book.pojo.Readercomments" >
    <id column="ReaderName" property="readername" jdbcType="NCHAR" />
    <result column="Id" property="id" jdbcType="INTEGER" />
    <result column="BookId" property="bookid" jdbcType="INTEGER" />
    <result column="Title" property="title" jdbcType="NVARCHAR" />
    <result column="Comment" property="comment" jdbcType="NVARCHAR" />
    <result column="Date" property="date" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ReaderName, Id, BookId, Title, Comment, Date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ReaderComments
    where ReaderName = #{readername,jdbcType=NCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ReaderComments
    where ReaderName = #{readername,jdbcType=NCHAR}
  </delete>
  <insert id="insert" parameterType="com.book.pojo.Readercomments" >
    insert into ReaderComments (ReaderName, Id, BookId, 
      Title, Comment, Date
      )
    values (#{readername,jdbcType=NCHAR}, #{id,jdbcType=INTEGER}, #{bookid,jdbcType=INTEGER}, 
      #{title,jdbcType=NVARCHAR}, #{comment,jdbcType=NVARCHAR}, #{date,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.book.pojo.Readercomments" >
    insert into ReaderComments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="readername != null" >
        ReaderName,
      </if>
      <if test="id != null" >
        Id,
      </if>
      <if test="bookid != null" >
        BookId,
      </if>
      <if test="title != null" >
        Title,
      </if>
      <if test="comment != null" >
        Comment,
      </if>
      <if test="date != null" >
        Date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="readername != null" >
        #{readername,jdbcType=NCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bookid != null" >
        #{bookid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=NVARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=NVARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.book.pojo.Readercomments" >
    update ReaderComments
    <set >
      <if test="id != null" >
        Id = #{id,jdbcType=INTEGER},
      </if>
      <if test="bookid != null" >
        BookId = #{bookid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        Title = #{title,jdbcType=NVARCHAR},
      </if>
      <if test="comment != null" >
        Comment = #{comment,jdbcType=NVARCHAR},
      </if>
      <if test="date != null" >
        Date = #{date,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ReaderName = #{readername,jdbcType=NCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.book.pojo.Readercomments" >
    update ReaderComments
    set Id = #{id,jdbcType=INTEGER},
      BookId = #{bookid,jdbcType=INTEGER},
      Title = #{title,jdbcType=NVARCHAR},
      Comment = #{comment,jdbcType=NVARCHAR},
      Date = #{date,jdbcType=TIMESTAMP}
    where ReaderName = #{readername,jdbcType=NCHAR}
  </update>
</mapper>